* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://64.media.tumblr.com/a2ce1e258b3fbf940614f373a709436c/d544d70696384cb9-56/s640x960/a503d05b0d672cffa6d991e9408809f683412e52.gif");
}
